* {
  box-sizing: border-box;
}

.app { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  background-color: $back;
}

.app__container {
  display: inline-block;
  margin: 10vw auto;
  background-color: $back-field;
  border-radius: 16px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  
  padding: 30px 30px 20px;
  border-bottom: 2px solid #5d5d5d;
}

.app-header__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.app-header__text {
  color: $app-white;
  width: 45px;
  
  text-align: center;
}

.app-header__img {
  width: 40px;
}

.app-restart {
  width: 50px;
  height: 50px;
  padding: 2px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $cell;
  background-image: url('img/cat-start.svg');
}

.grid {
  display: grid;
  grid-template-columns: repeat(10,40px);
  grid-template-rows: repeat(10,40px);
  gap: 2px;
  padding: 30px;
  margin: 0 auto;
}

.grid--inactive {
  pointer-events: none;
}

.cell {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-color: $cell;
  background-color: $cell;
  cursor: pointer;
  transition: all 0.1s;
}

.cell--active {
  background-color: transparent;
  border: none;
}

.cell:hover {
  background-color: $cell-hell;
}

.cell:active {
  background-color: $cell-clicked;
}

.cell--bomb {
  // background-color: white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-image: none;
}

.cell--flag { 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-image: url('img/flag-red.svg');
}

.cell--active.cell--bomb{
  background-image: url('img/bomb.svg');
}

.cell__number {
  opacity: 0;
  font-weight: 700;
  user-select: none;
}

.cell--active .cell__number {
  opacity: 1;
}

.cell[data-value='1'] .cell__number {
  color: $cell-one;
}

.cell[data-value='2'] .cell__number {
  color: $cell-two;
}

.cell[data-value='3'] .cell__number {
  color: $cell-three;
}

.cell[data-value='4'] .cell__number {
  color: $cell-four;
}

.cell[data-value='5'] .cell__number {
  color: $cell-five;
}

.cell[data-value='6'] .cell__number {
  color: $cell-six;
}

.cell[data-value='7'] .cell__number {
  color: $cell-seven;
}

.cell[data-value='8'] .cell__number {
  color: $cell-eight;
}

.app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: opacity 0.3s;
}

.app-modal--open {
  transform: translateX(0);
  opacity: 1;
}

.app-modal__window {
  position: absolute;
  padding: 100px 40px;;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 900px;
  gap: 30px;
  align-items: center;
  background: $back-modal;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.app-modal__button {
  position: absolute;
  top: -50px;
  right: -41px;
  width: 50px;
  height: 50px;
  border: 2px solid $back-modal-button;
  background-color: transparent;
  background-image: url(img/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}

.app-modal__button:hover {
  background-color: $back-modal-button;
  border-color: $back-modal-button;
}
.app-modal__button:active {
  background-color: $back-modal-button-active;
}

.app-modal__text {
  font-size: 20px;
  color: $back-modal-text;
  text-align: center;
}

.app-modal__img {
  display: none;
  border-radius: 9px 0px 0px 9px;
  width: 300px;
  height: 300px;
}
.app-modal--loss .app-modal__img--loss {
  display: block;
}

.app-modal--win .app-modal__img--win {
  display: block;
}

@media (max-width: 1030px) {
  .app-modal__window {
    max-width: 80vw;
  }
}

@media (max-width: 768px) {
  .app-modal__window {
    padding: 20vw 10vw;
  }
  .app-modal__img {
    width: 40vw;
    height: 40vw;
  }
}