* {
  box-sizing: border-box;
}

.app { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  background-color: $back;
}

.app__container {
  display: inline-block;
  margin: 100px auto;
  background-color: $back-field;
  border-radius: 16px;
}

.start-button {
  width: 40px;
  height: 40px;
  padding: 2px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $cell;
  background-image: url('img/cat-start.svg');
}

.grid {
  display: grid;
  grid-template-columns: repeat(10,40px);
  grid-template-rows: repeat(10,40px);
  gap: 2px;
  padding: 30px;
  margin: 0 auto;
}

.cell {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-color: $cell;
  background-color: $cell;
  cursor: pointer;
  transition: all 0.3s;
}

.cell:hover {
  background-color: $cell-hell;
}

.cell:active {
  background-color: $cell-clicked;
}

.cell--flag { 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-image: url('img/flag-red.svg');
}

.cell--bomb {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-image: url('img/bomb.svg');
}

.cell__number {
  opacity: 0;
  font-weight: 700;
}

.cell[data-value='1'] .cell__number {
  color: $cell-one;
}

.cell[data-value='2'] .cell__number {
  color: $cell-two;
}

.cell[data-value='3'] .cell__number {
  color: $cell-three;
}

.cell[data-value='4'] .cell__number {
  color: $cell-four;
}

.cell[data-value='5'] .cell__number {
  color: $cell-five;
}

.cell[data-value='6'] .cell__number {
  color: $cell-six;
}

.cell[data-value='7'] .cell__number {
  color: $cell-seven;
}

.cell[data-value='8'] .cell__number {
  color: $cell-eight;
}

.cell--active .cell__number {
  opacity: 1;
}