$back: #686868;
$back-field: #303130;
$app-white: #ffffff;

$back-modal-light: #fafafa;
$back-modal: #6b6b6b;
$back-modal-button: #ff38c7;
$back-modal-button-active: #551643;
$back-modal-text: #ffffff;

$cell: #5d5d5d;
$cell-hell: #818181;
$cell-clicked: #d7d7d7;

$cell-one: #47b2ff;
$cell-two: #37ff4b;
$cell-three: #ff4747;
$cell-four: #ff38c7;
$cell-five: #ff9438;
$cell-six: #b09dff;
$cell-seven: #e671ff;
$cell-eight: #000000;